<p id="notice"><%= notice %></p>

<p>
  <strong>What:</strong>
  <%= @participation.what %>
</p>

<p>
  <strong>How:</strong>
  <%= @participation.how %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
