<!DOCTYPE html>
<html>
<head>
  <title>Dobetter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/731360/749444/css/fonts.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body data-hijacking="off" data-animation="fixed">
	
<div class="mobile-nav">
						<h3>We can do better illinois.</h3>
						
						<div class="menu">
						</div>	
						<ul>
			<li><span></span><a href="/">Who are We?</a></li>
			<li><span></span><a href="/whats-the-issue">What is the issue?</a></li>
			<li><span></span><a href="/get-involved">Get Involved</a></li>
							
						</ul>	
</div>		
<% if current_page?('/') %>
<div class="side-col">
	<div class="interior-wrapper">
		<!-- <h3><%= @who.title %></h3> -->
		<p><span><%= @who.title %></span><%= @who.body %></p>	
		<ul id="nav">
			<li><span></span><a href="/whats-the-issue">What is the issue?</a></li>
			<li><span></span><a href="/get-involved">Get Involved</a></li>
		</ul>
	</div>	
<% elsif current_page?('/whats-the-issue') %>
<div class="side-col">
	<div class="interior-wrapper">
					<div class="do-better">
						<h3>We can do better illinois.</h3>
					</div>	
		<ul id="nav">
			<li><span></span><a href="/">Who are We?</a></li>
			<li class="active"><span></span><a href="/whats-the-issue">What is the issue?</a></li>
			<li><span></span><a href="/get-involved">Get Involved</a></li>
		</ul>
	
	</div>	
<% elsif current_page?('/get-involved') %>
<div class="side-col">
	<div class="interior-wrapper">
					<div class="do-better">
						<h3>We can do better illinois.</h3>
					</div>	
		<ul id="nav">
	<li><span></span><a href="/">Who are We?</a></li>
			<li><span></span><a href="/whats-the-issue">What is the issue?</a></li>
			<li class="active"><span></span><a href="/get-involved">Get Involved</a></li>
		</ul>
	
	</div>	
<% elsif current_page?('/get-involved/facts') %>
<div class="side-col">
	<div class="interior-wrapper">
					<div class="do-better">
						<h3>We can do better illinois.</h3>
					</div>	
		<ul id="nav">
	<li><span></span><a href="/">Who are We?</a></li>
			<li><span></span><a href="/whats-the-issue">What is the issue?</a></li>
			<li class="active"><span></span><a href="/get-involved">Get Involved</a></li>
		</ul>
	
	</div>	
<% elsif current_page?('/facts') %>
<!--<div class="side-col">
	 <div class="interior-wrapper">
	<p><span><%= @who.title %></span><%= @who.body %></p>
		<ul id="nav">
			<li><span></span><a href="/">Who are We?</a></li>
			<li><span></span><a href="/whats-the-issue">What is the issue?</a></li>
			<li><span></span><a href="/get-involved">Get Involved</a></li>
		</ul>
	</div>	 -->
<% end %>
	
	<div class="contacts">
		<ul>
			<li id="instagram"><a href="http://instagram.com/wecandobetteril">Instagram</a></li>
			<li id="facebook"><a href="http://facebook.com/wecandobetteril">Facebook</a></li>
			<li id="pinterest"><a href="http://pinterest.com/wecandobetteril">Pinterest</a></li>
			<li id="twitter"><a href="http://twitter.com/wecandobetteril">Twitter</a></li>
		</ul>
		<!-- <div class="partnership">
			<h5>In partnership with:</h5>
		</div>	 -->
	</div>	
	
</div>	

<%= yield %>
	<div class="contacts bottom">
		<ul>
			<li id="instagram"><a href="http://instagram.com/wecandobetteril">Instagram</a></li>
			<li id="facebook"><a href="http://facebook.com/wecandobetteril">Facebook</a></li>
			<li id="pinterest"><a href="http://pinterest.com/wecandobetteril">Pinterest</a></li>
			<li id="twitter"><a href="http://twitter.com/wecandobetteril">Twitter</a></li>
		</ul>
		<!-- <div class="partnership">
			<h5>In partnership with:</h5>
		</div>	 -->
	</div>	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
